<form {{action "addMessage" on="submit"}}>
    {{input type="text" placeholder="Name" value=name class="name-input"}}
    {{input type="text" placeholder="Message" value=body class="msg-input"}}
    {{input type="submit" value="Send" class="submit"}}
</form>
